asgiref==3.5.2
astroid==2.12.10
colorama==0.4.5
dill==0.3.5.1
Django==4.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.1
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
python-decouple==3.6
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.4
tzdata==2022.4
whitenoise==6.2.0
wrapt==1.14.1
