{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container">
  <h5 class="text-center">MEMBERSHIP LIST</h5>
  <p>Our memmbers include:-</p>
  <ul>
    <li>Lengo Sacco</li>
    <li>Imarika Sacco</li>
    <li>Tabasuri Sacco</li>
    <li>Mafanikio Sacco</li>
    <li>Mombasa Port Sacco</li>
    <li>Bandari sacco</li>
    <li>Kivuko Sacco</li>
    <li>Jitgemee Sacco</li>
    <li>Quetu Sacco</li>
    <li>Tabasamu Sacco</li>
    <li>Stima Sacco</li>
    <li>IG Sacco</li>
  </ul>
</div>

{% endblock content %}
