{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container">
  <h5 class="text-center">MEMBERSHIP</h5>
  <p>Membership regulation are as follows:-</p>
  <ul>
    <li>
      Any SACCO registered under the cooperatives Act no. 12 of 1997 and
      operating FOSA. Or any other NGO or organization with similar objectives
      shall be eligible for membership of the society and shall, subject to the
      approval of the committee, become a member on payment of an entrance fee
      of sh. 2,000/=.
    </li>
    <li>
      Every member shall pay an annual subscription of sh. 10,000 – 14,000 not
      later than the 15th day March.
    </li>
    <li>
      Any member desiring to resign from the society shall submit its
      resignation to the secretary, which shall take effect from the date of
      receipt by the secretary of such notice.
    </li>
    <li>
      Any member may be expelled from membership if the committee so recommends
      and if a general meeting of the society shall resolve by a two-thirds
      majority of the members present that such a member should be expelled on
      the grounds that his conduct has adversely affected the reputation or
      dignity of the society, or that he has contravened any of the provisions
      of the constitution of the society. The committee shall have power to
      suspension but notwithstanding such suspension a member whose expulsion is
      proposed shall have the right to address the general meeting at which his
      expulsion is to be considered.
    </li>
    <li>
      Any member who resigns or is removed from membership shall not be entitled
      to a refund of his subscription or any part thereof or any moneys
      contributed by him at any time.
    </li>
    <li>
      Any member who falls into arrears with his monthly subscription for more
      than three months shall automatically cease to be a member of the society
      and his name shall be struck off the register of members. The committee
      may, however, at its discretion, reinstate such member on payment of the
      total amount of subscription outstanding.
    </li>
  </ul>
</div>

{% endblock content %}
