{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KENYA ASSOCIATION OF FOSAS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Kenya Association of FOSAS(KAFOSA) formerly known as Coast Association of front office services activities (Cafosa) was registered in February 2010 to provide lobby and advocacy to deposit taking Sacco’s in the Country."
    />

    <meta
      name="keywords"
      content="Kenya association of fosas,kafosa, saccos, fosas, mombasa, kenya"
    />
    <meta name="author" content="kafosa" />
    <meta name="copyright" content="2021 Kafosa" />
    <link
      rel="shortcut icon"
      href="{% static 'main_app/images/fav.jpg' %}"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="{% static 'main_app/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main_app/css/styles.css' %}" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WKWW93N");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WKWW93N"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="external_container">
      <div class="main_content">
        <!-- navbar -->
        <div>{% include "main_app/incl/navtop.html" %}</div>

        <!-- Slides -->
        <div>{% include "main_app/incl/slides.html" %}</div>

        <!-- Slogan -->
        <div class="container-fluid mt-1">
          <div class="row mt-4">
            <div class="col-md-3">
              <h3 class="text-center slogan">OUR SHELTER</h3>
            </div>
            <div class="col-md-9">
              <h4 class="text-center fosa">
                KENYA ASSOCIATION OF FRONT OFFICE SERVICE ACTIVITY(KAFOSA)
              </h4>
            </div>
          </div>
        </div>

        <!-- main body -->
        <div class="row">
          <div class="col-md-3 mysidebar">
            <div class="container-fluid mysidebarbg">
              <h6 class="mx-1">
                <i class="bi bi-caret-right"></i
                ><span>Upcoming Events & News</span>
              </h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="mysidelink" href="{% url 'workshop_2022' %}"
                  >KAFOSA Workshop On 5TH - 7TH May, 2022</a
                >
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="{% url 'finsco' %}"
                  >KAFOSA Partners with FINSCO Africa To Provide affordables
                  Houses to It's Members</a
                >
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="{% url 'workshop_2021' %}"
                  >KAFOSA Workshop On 15TH - 18TH September, 2021</a
                >
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="{% url 'kafosa' %}"
                  >CAFOSA launch on 8th October 2010 by the Hon. Joseph Nyaga
                  EGH MP. Minister for Co-operative Development.</a
                >
              </li>
            </ul>
            <div class="container-fluid mysidebarbg">
              <h6 class="mx-2">
                <i class="bi bi-caret-right"></i><span>Our Members</span>
              </h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://tabasuridtsacco.co.ke/"
                  target="”_blank”"
                  >Tabasuri Sacco</a
                >
              </li>
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.msaportsacco.co.ke/"
                  target="”_blank”"
                  >Mombasa Port Sacco</a
                >
              </li>
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.bandarisacco.co.ke/"
                  target="”_blank”"
                  >Bandari sacco</a
                >
              </li>
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.stima-sacco.com/"
                  target="”_blank”"
                  >Stima Sacco</a
                >
              </li>
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.imarika.or.ke/"
                  target="”_blank”"
                  >Imarika Sacco</a
                >
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">Lengo Sacco</a>
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">Mafanikio Sacco</a>
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">Kivuko Sacco</a>
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">Jitgemee Sacco</a>
              </li>
              <li class="list-group-item mysid">
                <a class="mysidelink" href="">Qwetu Sacco</a>
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">Tabasamu Sacco</a>
              </li>
              <li class="list-group-item">
                <a class="mysidelink" href="">IG Sacco</a>
              </li>
            </ul>
            <div class="container-fluid mysidebarbg">
              <h6 class="mx-2">
                <i class="bi bi-caret-right"></i><span>Quick Links</span>
              </h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.industrialization.go.ke/index.php/departments/36-co-operatives-directorate"
                  target="”_blank”"
                  >Ministry of Co-operative Development</a
                >
              </li>
              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.co-opbank.co.ke/"
                  target="”_blank”"
                  >Co-operative bank of Kenya</a
                >
              </li>

              <li class="list-group-item">
                <a
                  class="mysidelink"
                  href="https://www.kuscco.com/"
                  target="”_blank”"
                  >Kenya Union of Savings & Credit Co-operatives (KUSCCO)</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-9 mainbar">
            {% block content%} {% endblock content %}
          </div>
        </div>

        <!-- FOOTER -->
        <div class="row mt-4 mx-0 myfooter">
          <div class="col-md-2">
            <div class="d-flex">
              <a
                href="https://www.linkedin.com/in/kenya-association-of-fosas-kafosa-a861b821b/"
                target="”_blank”"
                class="mx-1 top-icons"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                href="https://www.youtube.com/channel/UCiLNsorLevkYsUC7dQJwJ-w"
                target="”_blank”"
                class="mx-1 top-icons"
                ><i class="bi bi-youtube"></i
              ></a>
              <a
                href="https://mobile.twitter.com/_Kafosa"
                target="”_blank”"
                class="mx-1 top-icons"
                ><i class="bi bi-twitter"></i
              ></a>
              <a
                href="https://www.facebook.com/profile.php?id=100072003075133"
                target="”_blank”"
                class="mx-1 top-icons"
                ><i class="bi bi-facebook"></i
              ></a>
            </div>
          </div>
          <div class="col-md-8">
            <p class="text-center">Our Shelter | KAFOSA.</p>
            <p class="text-center">
              Copyright &copy; KAFOSA, 2010-2022 | All Rights Reserved.
            </p>
          </div>
          <div class="col-md-2 text-center">
            Designed & Built by: amosndonga@gmail.com
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="{% static 'main_app/js/bootstrap.bundle.min.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
       {% if messages %}
      {% for msg in messages%}
      swal({
              text: "{{msg}}",
              icon: "{{msg.tags}}",
          });
      {% endfor%}
      {% endif %}
    </script>
  </body>
</html>
