{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container">
  <img
    src="{% static 'main_app/images/cafosa.jpg' %}"
    class="w-100"
    alt=""
    style="height: 350px"
  />
  <p class="mt-4">
    Coast Association of Front Office Services Activity (CAFOSA) is an
    association of SavingsMr. Alfred Mlolwa - Vice Chairman CAFOSA Chairman -
    Mr. Isedorious Ochola Agolaand Co-operative Society SACCOs which operate the
    Front Office Services Activity in Coast Province in Kenya.
  </p>

  <p>
    It was formed in January 2010 and has a membership of nine Savings and
    Co-operative Societies namely Kenya Marine and Fisheries Research Institute
    (KMFRI SACCO) Kenya Ports Authoriy (Bandari SACCO) Taita Teachers SACCO,
    Mombasa Teachers SACCO, Kwale Teachers SACCO, Wafanyakazi wa Shule na
    Hospitali za Aga-Khan ( WASHA SACCO). Kilifi Teachers SACCO, Uchongaji SACCO
    and Tana Teachers SACCO.
  </p>
</div>

{% endblock content %}
