{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <h6 class="text-center my-2">
    KAFOSA PARTNERS WITH FINSCO AFRICA TO PROVIDE AFFORDABLE HOUSES TO IT'S
    MEMBERS
  </h6>
  <div class="container my-2">
    <!-- Top Image -->
    <img
      src="{% static 'main_app/images/finsco-mou/finsco-mou.JPG' %}"
      alt="finsco-mou BANNER"
      class="mytopimage"
    />
  </div>
  <p class="mt-4">
    KAFOSA has partnered with FINSCO AFRICA to provide affordables houses to
    it's members, under a program named <strong>RENT TO OWN</strong>.
  </p>
  <p>
    Members will be required to make a small deposit, and make the rest of the
    payment through monthly rental payments, as they occupy the houses.
  </p>
  <p>
    Members will be provided with loan facilities through their respective
    saccos.
  </p>
  <p>
    The houses consists of one bedroom, two bedrooms, three bedrooms apartments
    and bunglows built using latest technology and are environmental friendly.
  </p>
  <div class="container my-2 py-2">
    <!-- Top Image -->
    <img
      src="{% static 'main_app/images/finsco-mou/finsco-mou-press.JPG' %}"
      alt="finsco-mou BANNER"
      class="mytopimage"
    />
  </div>
</div>

{% endblock content %}
