{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <h5 class="text-center">KAFOSA WORKSHOP ON 5TH - 7TH MAY 2022</h5>
  <p class="mt-3">
    Entrepreneurial vision is very critical in making a business achieve better
    growth and development. When covid-19 was at its peak in the country many
    SACCOs grappled with how to continue giving services and the ones related
    with aviation, hospitality and other industries tapped into their savings to
    sustain themselves as they were negatively affected.
  </p>
  <p>
    Through use of Technology SACCOs have managed to continue serving their
    members as they innovate around new ways to survive and thrive. The digital
    consumption was at its all-time highest during the pandemic and technology
    aided operations in many sectors.
  </p>

  <p>
    ICT as an excellent enabler plays a pivotal role in enhancing efficiency
    resulting in profitability of SACCOs through components such as cost
    reduction, cheaper distribution channels and reduction in supply time,
    innovation and good customer services.
  </p>

  <p>
    Some of the challenges the subsector experiences are; Uptake of the system
    and awareness challenges, Technical challenges, and Human resource
    challenges, Stakeholder challenges, Cyber security threats.
  </p>

  <p class="mt-2">
    The theme of the 2022 workshop was
    <strong>“ICT AS AN ENABLER OF ENTREPRENEURAL VISION AND GROWTH”</strong>
  </p>
  <p>
    Participants were drawn from across the country involving all
    cooperatives/SACCOs including those planning to start DT services, those
    operating DT, and Counties ICT professionals and other relevant departments.
  </p>
</div>

{% endblock content %}
