{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <h5 class="text-center">KAFOSA WORKSHOP ON 15TH - 18TH SEPTEMBER 2021</h5>
  <img
    src="{% static 'main_app/images/workshop_2021.png' %}"
    class="w-100"
    alt=""
    style="height: 350px"
  />
  <p class="mt-3">
    The KAFOSA workshop held at Turtle Bay Hotel on
    <strong>15th –18th September 2021</strong> . The cooperative/Sacco sub
    sectors assets stood at 622 billion in 2019 up from 556 million posting a
    growth of 12% per annum and hence the need to put in more measures that will
    safeguard members savings as the regulator puts new regulations for
    non-deposit taking Saccos to be complied with before being authorized.
  </p>
  <p class="mt-2">
    The theme of the 2021 workshop was
    <strong>“ICT IN ADVANCING FINANCIAL INCLUSION FOR SACCOS”:</strong>
  </p>
  <p>Some of the topics discussed included:</p>
  <ul>
    <li>Enhancing Sacco sector growth</li>
    <li>Business Remodeling</li>
    <li>
      Aligning the value chain of a Sacco to the contemporary ICT ecosystem
    </li>
    <li>Governance, up-skilling IT managers</li>
    <li>Developing skills for a financial industry</li>
    <li>Cyber Security, Data Protection Laws</li>
    <li>
      Re-evaluation of your vendor relationship in safeguarding your cooperative
    </li>
    <li>Meet vendors with new & better solutions</li>
  </ul>
</div>

{% endblock content %}
