{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="container">
  <h6 class="text-center">OBJECTIVES</h6>
  <p class="mt-4">The following are the objectives of the associations:-</p>
  <ul class="mt-4">
    <li>To safeguard operating rights of FOSAS</li>
    <li>To provide lobby, advice in liaison with KUSCO LTD</li>
    <li>
      To Protect from unfavorable conditional ties emanating from local and
      international mainstream financial institutions and others
    </li>
    <li>To Promote ethical and sound practices in the management of FOSAS</li>
    <li>
      To share information concerning FOSAS and promote education and training
      of members, officials and identified stakeholders
    </li>
    <li>To ensure compliance with Act, Rules and Cooperative principles</li>
    <li>
      To assist in achieving the above objectives, of the association to adhere.
    </li>
    <li>To work closely with NACOS</li>
    <li>Shall be non-political</li>
  </ul>
</div>

{% endblock content %}
